/* リセットCSS（気にしないでください） */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/*
@font-face{
    
    font-family: "GenshinFont";
    src: url("../font/ja-jp.ttf");
    
    font-family: "GenshinFont";
    src: url("../font/ja-jp.woff") format('woff');
}*/

/* 大枠（気にしないでください） */
body {
    width: 100%;
    /*font-family: "GenshinFont", sans-serif;*/
    font-family: 'Noto Sans JP', sans-serif;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #character {
    width: 100px;
    height: 100px;
    background-color: rgb(176, 224, 183); /* 仮の背景色 */
  }
  
  #status {
    margin: 20px;
    padding: 15px 20px 15px 20px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #c5dbcb;
    border: solid #000000;
    min-width: 100px;
    text-align: right;
  }

  .status-value{
    display: inline-block;
    text-align: right;
    min-width: 100px;
    color: #a44b4b;
  }

  hr {
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
  }

/*ローディング画面用のスタイル*/
#load {
    width: 90%;
    margin: 0 auto 0 20px;
    text-align: center;
    display: block;
}

#wrapper {
    max-width: 100%;
    margin: auto;
    padding: 2%;
    display: block;
}

/* 見出し ここから */
h1 {
    height: auto;
    margin: 40px 0 0 20px;
    padding: 0;
    /*
    color: #000;
    */
    font-size: 30px;
    font-weight: normal;
    border-top: 0;
    line-height: 1.5;
}

h2 {
    margin: 60px 0 35px 0;
    padding: 0 0 0 15px;
    font-size: 26px;
    font-weight: normal;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #ffff00;
}

h3 {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: normal;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #666666;
}

h4 {
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: normal;
}

/* ここまで */

.box {
    /* ボックスのスタイルを指定 */
    max-width: 800px;
    /* ボックスの幅を指定 */
    max-height: auto;
    /* ボックスの高さを指定 */

    margin: auto;
    /* 左右の余白を自動的に計算して中央に配置 */
    padding: 15px 20px 15px 20px;
    /* 以下はボックスの位置を画面の中央にするためのプロパティ */
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #8ab9ee;
    /* ボックスの背景色 */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    /* 影のスタイル */
    border-radius: 5px;
    /* 角の丸み */
}
/* ウィンドウが大きいときのボックスのスタイルを指定 */
@media (min-width: 900px) {
    .box-container{
        max-width: 860px;
        display: flex;
        margin: auto;
    }
    .box-container .box{
        margin-top: 0;
        margin-bottom: 0;
        max-width: 375px;
    }
}

.no-box {
    /* ボックスのスタイルを指定 */
    max-width: 800px;
    /* ボックスの幅を指定 */
    max-height: auto;
    /* ボックスの高さを指定 */
    margin: auto;
    /* 左右の余白を自動的に計算して中央に配置 */
    padding: 15px 20px 15px 20px;
    /* 以下はボックスの位置を画面の中央にするためのプロパティ */
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background-color: #a7b2c1; /* ボックスの背景色 */
}

/* アコーディオン ここから */
/* ここまで */
/* ボタンのデザイン */
.calc-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 5px;
    border: 1px solid #ff0000;
    cursor: pointer;
    transition: .4s;
    /*font-family: "GenshinFont", sans-serif;*/
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);
    /* 影のスタイル */
}

.calc-button:hover {
    background-color: #ff6666;
    border: 1px solid #ff6666;
}

.calc-button:active {
    background-color: #870000;
    border: 1px solid #870000;
}

/* ボタンのデザイン */
.reflect-button {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
    user-select: none;
    color: #fff;
    border-radius: 0;
    background: #500a0a;
}

.reflect-button:hover {
    background-color: #742b2b;
}


/* ここまで */


/* テキストの色 */
/*p {
    color: #cccccc;
}*/
.text {
    color: #cccccc;
}

.red {
    color: #ff0000;
}

.blue {
    color: #0000ff;
}

.green {
    color: #00ff00;
}

.yellow {
    color: #ffff00;
}

.pink {
    color: #da12da;
}

.purple {
    color: #800080;
}

.orange {
    color: #ffa500;
}

.brown {
    color: #a52a2a;
}

.gray {
    color: #808080;
}

.lightblue {
    color: #00ffff;
}

.waterblue {
    color: #4967ff;
}

.white {
    color: #ffffff;
}

.normal-text {
    font-weight: normal;
    /* フォントの太さを通常に設定 */
}

.my-table {
    font-size: 12px;
    overflow-x: auto;
    border-collapse: collapse;
    /* セルの境界を重ねて表示 */
    border-spacing: 10px;
    /* 横方向のセルの余白を10pxに設定 */
}

.my-table td {
    border: 1px solid #5a8acd;
    /* セルの境界線を設定 */
    padding: 0 15px;
    /* セルの内側の余白を10pxに設定 */
}

.my-table th {
    border: 1px solid #5a8acd;
    /* セルの境界線を設定 */
    background-color: #a0a3e0;
    padding: 0 15px;
    /* セルの内側の余白を10pxに設定 */
}

@media (max-width: 375px) {
    .box {
        overflow-x: auto;
    }
}

/*キャラのテーブル*/
.hsrCha-table {
    border-collapse: collapse;
    font-size: 11px;
    overflow-x: auto;
}

.hsrCha-table th {
    text-align: center;
    border: 1px solid #5a8acd;
    /* セルの境界線を設定 */
    padding: 0 5px;
    /* セルの内側の余白を10pxに設定 */
    width: 80px;
    /* セルの幅を100pxに固定 */
    background-color: #a0a3e0;
}

.hsrCha-table td {
    text-align: center;
    border: 1px solid #5a8acd;
    /* セルの境界線を設定 */
    padding: 0 5px;
    /* セルの内側の余白を10pxに設定 */
    background-color: #d9e5ff;
}

/*武器のテーブル*/
.hsrWeapon-table {
    border-collapse: collapse;
    font-size: 11px;
    overflow-x: auto;
}

.hsrWeapon-table th {
    text-align: center;
    border: 1px solid #5a8acd;
    /* セルの境界線を設定 */
    padding: 0 5px;
    /* セルの内側の余白を10pxに設定 */
    width: 80px;
    /* セルの幅を100pxに固定 */
    background-color: #a0a3e0;
}

.hsrWeapon-table td {
    text-align: center;
    border: 1px solid #5a8acd;
    /* セルの境界線を設定 */
    padding: 0 5px;
    /* セルの内側の余白を10pxに設定 */
    background-color: #d9e5ff;
}

/*遺物のテーブル*/
.hsrArtifact-table {
    border-collapse: collapse;
    font-size: 11px;
    overflow-x: auto;
}

.hsrArtifact-table th {
    text-align: center;
    border: 1px solid #5a8acd;
    /* セルの境界線を設定 */
    padding: 0 5px;
    /* セルの内側の余白を10pxに設定 */
    width: 170px;
    /* セルの幅を100pxに固定 */
    background-color: #a0a3e0;
}

.hsrArtifact-table td {
    text-align: center;
    border: 1px solid #5a8acd;
    /* セルの境界線を設定 */
    padding: 0 5px;
    /* セルの内側の余白を10pxに設定 */
    background-color: #d9e5ff;
}



/*聖遺物選択画面のため*/
.target-area {
    max-width: 300px;
    height: 60px;
    border: 2px solid #000000;
    background-color: #b3b3b3;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-content {
    border-radius: 3px;
    width: 350px;
    height: 500px;
    max-width: 80%;
    /* 幅を指定 */
    max-height: 60%;
    /* 高さを%に指定 */
    background-color: rgb(98, 74, 56);
    margin: 100px auto;
    margin-top: 10%;
    margin-left: 5%;
    padding: 20px;
    overflow-y: auto;
    /* スクロール可能にする */
}

.selection-item {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
}

.selection-item img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.selection-item span {
    font-size: 18px;
}

/* モーダルウィンドウのスタイル */
/* モーダルウィンドウのスタイル */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal h3 {
    color: #fff;
}

#imageList {
    list-style: none;
    padding: 0;
}

.image-item {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(160, 120, 89);
}



/* アイコンのスタイル */
#toggleButton {
    cursor: pointer;
    font-size: 10px;
    background: none;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 0% 2.5px;
    border-radius: 4px;
}

/* 非表示要素のスタイル */
#toggleContent {
    display: none;
}

canvas {
    max-width: 500px;
}


.input_num {
    display: inline-block;
    max-width: 72px;
    padding: 2px 5px;
    color: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    background: #ffffff;
    margin: 0.5em 0;
}

/* エリアのスタイル */
#eleArea {
    padding: 7px;
    max-width: 400px;
    border: 2px solid #000000;
    cursor: pointer;
}

/* 選択肢ウィンドウのスタイル */
#eleChoices {
    display: none;
    /* 初期状態では非表示 */
    max-width: 400px;
    position: relative;
    top: 100%;
    left: 0;
    padding: 0px 7px;
    background-color: #000000;
    /*#8f8f8f;*/
    border: 1px solid #606060;
}

/* 選択肢リストのスタイル */
#eleChoices ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#eleChoices ul li {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
